# Weather Analysis

## Task review and explanation

### Task 1: Create Directory Structure

Firstly we create the data folder in the root of the repository using mkdir

```bash
mkdir data
```
Secondly, we use cd command to navigate between folders. Once in the data folder we can use mkdir again to create timestamps and weather folder.
Other option is to use mkdir data/weather. This option is available only when data was already created.

### Task 2 - Timestamps 

Firstly, we can navigate to the correct folder (timestamps) using cd. we can use ls command to check the content of the folder.
If it is not there, we can use data >> now.txt to create the timestamp. Repeat this step 10 times
We can verify the content using the command more.

```bash
ls
more
data >> now.txt
```

### Task 3 - Formatting Timestamps

Command man can be used to open the manual for date to get more understanding of the formatting options.
The task is like task number 2. To do this task, we need to use command line data + "%Y%m%d_%H%M%S" >> formatted.txt
%Y = Year (e.g., 2024)
%m = Month (01..12)
%d = Day of the month (01..31)
%H = Hour (00..23)
%M = Minute (00..59)
%S = Second (00..59)

```bash
data + "%Y%m%d_%H%M%S" >> formatted.txt
```

### Task 4 - Create Timestamped Files 

Task 4 built on the knowledge from previous task.  We need to use command touch and backsticks around date and the format selected to ensure the code run smoothly.

```bash
touch `date +"%Y%m%d_%H%M%S"`.txt
```

### Task 5 Download Today's Weather Data
### Task 6 Timestamp the Data

In these tasks we will need to use the command wget. If it is not installed it can be done using  sudo apt  install wget.
Firstly, we need to move to folder weather using command cd. Then we need to download data from URL https://prodapi.metweb.ie/observations/athenry/today. To do that we need to use command wget -0 weather.jason(URL). 
If we add the formatting we can solve also the task 6. (wget - 0 `date +"%Y%m%d_%H%M%S.json"`).

```bash
wget - 0 `date +"%Y%m%d_%H%M%S.json"` (URL)
```

### Task 7 Write the Script

The first step is to use cd to move to the root folder. Then we need to create a file using the command touch and call it weather.sh
In that file we need to activate bash writing  #!/bin/bash. Posteriorly we need to write the code developed in task 6
wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"`https://prodapi.metweb.ie/observations/athenry/today

```bash

#!/bin/bash

wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"` https://prodapi.metweb.ie/observations/athenry/today
```

## Analysing the data

In [2]:
import pandas as pd

file_location = 'data/weather/20241202_174703.json'
df = pd.read_json(file_location)

In [8]:
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18
mean,5.611111,12.888889,287.500000,84.611111,0.001111,1019.111111,2024-02-12 00:00:00
min,2.000000,2.000000,0.000000,75.000000,0.000000,1013.000000,2024-02-12 00:00:00
25%,5.000000,9.500000,281.250000,84.000000,0.000000,1017.000000,2024-02-12 00:00:00
50%,6.000000,13.000000,315.000000,86.000000,0.000000,1020.500000,2024-02-12 00:00:00
75%,7.000000,15.000000,315.000000,87.000000,0.000000,1022.000000,2024-02-12 00:00:00
max,7.000000,26.000000,315.000000,93.000000,0.010000,1022.000000,2024-02-12 00:00:00
std,1.460817,5.508164,74.246212,4.924595,0.003234,3.141541,NaN